<%= simple_form_for([:cpanel, @picture]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :key %>
    <%#= f.input :value %>
    <% picture_label = "上传图片：" %>
    <% if @picture.avatar %>
      <%= image_tag @picture.avatar.url %>
      <% picture_label = "替换图片：" %>
    <% end %>
    <%= f.input :avatar, label: picture_label %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
