<!-- <h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.title %></td>
        <td><%= service.content %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %> -->

<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%;height:140px;background-image:url(/images/services.jpg);background-size:100%;" >
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout" style="margin-top:10px;">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 25%" >
        <h3 style="border-radius:10px;background:url('../images/nav.png');height:30px;line-height:30px;transform:skew(-12deg);text-align:justify">我们提供的服务</h3>
          <div>
            <ul>
              <% @services.each do |service| %>
                <li>
                  <%= link_to service.title, service %>
                </li>
              <%end%>
            </ul>
          </div>
      </div>
      <div class="ipacro-layout-cell layout-item-0" style="width: 75%" >
        <div class="layout-item-2">
          <%= @service.content %>
        </div>
      </div>
    </div>
  </div>
</div>