<div>
  <%= render partial: 'common/util/form_search', locals: { local_search_url: news_search_path} %>
</div>
<div>  
  <h3>新闻列表</h3>
  <span>
    <%= t('news.index.total_items', count: @news_count) %> 
  </span>
  <ul>
    <% @news.each do |news| %>
      <li style="font-size:1.1em">
        <%= link_to news.title, news %>
        <% if news.created_at %>
          <%= news.created_at.strftime('%Y-%m-%d') %>
        <% end %>
      </li>
    <%end%>
  </ul>
  <%= paginate @news %>
</div>