<h1>Listing partners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.name %></td>
        <td><%= partner.url %></td>
        <td><%= link_to 'Show', cpanel_partner_path(partner) %></td>
        <td><%= link_to 'Edit', edit_cpanel_partner_path(partner) %></td>
        <td><%= link_to 'Destroy', cpanel_partner_path(partner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner', new_cpanel_partner_path %>
