<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
      <%= link_to '登录', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
      <%= link_to '注册', new_user_registration_path %>
    </li>
  <% end %>
  <li>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Cpanle", cpanel_front_index_path %>
  </li>
</ul>